     /* Style for grid cells */
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    background-color: #55B5F4;;
    text-align: center;
    /* margin: 0px; */

}
.rf-tgrid {
    font-family: Arial;
    font-weight: normal;
    font-size: 17px;
    margin: 1px;
    padding: 10px;
    /*    border: 1px solid bisque;*/
    vertical-align: middle;
    text-align: center;
    /* z-index: -1; */
    /* border-radius:15px ; */

  }
  
  /* Style for the grid */
  .rf-tablestyle {
    /* border: 2px solid ; */
    border-radius:15px ;
    /* z-index: 100; */
    /* border-color: rgb(33, 148, 18); */
    background-color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
    margin: auto;
    /* min-width: 35%; */

    align-self: center;
    position: relative;
    width: fit-content;
    left: 3%;

  }
  
  /* Style for the div containing the grid */
  #rf-searchgamecontainer {
    float: left;
    padding-right: 50px;
  }
  
  /* Style for the div containing the word list */
  #rf-wordcontainer {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    /* float: left; */
    padding-right: 10px;
    cursor: default;
    margin: 1em 1em 1em 0;
    /* text-decoration: none; */
    /* width: 200px; */
    /* border: 2px solid; */
    /* border-color: black;
    background-color: #eee; */
    cursor: pointer;
  }
  
  /* Style for the words that have been found */
  .rf-foundword {
    font-family: Arial, sans-serif;
    text-decoration: line-through;
    color: darkslategray;
  }
  
  #rf-tablegrid .rf-armed {
    /*  background: lightcyan;*/
  }
  
  #rf-tablegrid .rf-highlight {
    /* background: red; */
  }
  
  #rf-tablegrid .rf-glowing {
    background: rgb(211, 211, 208);
  }
  
  #rf-tablegrid .rf-selected {
    background: yellow;
  }
  
  /* style for words that didn't make it on the grid */
  .rf-pfalse {
    color: #111;
    visibility: hidden;
  }
  

            /* .the{
                background-color: #f31760;
            } */


            .listWords{
                /* background-color: yellow; */
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style-type: none;
                gap: 10px;

                margin: auto;
                margin-top: 20px;
                /* width: 40%; */
                align-self: center;
                position: relative;
                width: fit-content;
                /* left: 1%; */

            }

            .listWordItem{
                padding: 6px 11px 11px 11px;
                background-color: white;
                border-radius: 15px;
                height: 7px;
                min-width: 70px;
            }

            #theGrid{
                display: flex;
                flex-direction: column;
            }

            h1 {
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-weight: normal;
                margin-top: 30px;
                margin-bottom: 20px;
              
                /* font-weight: lighter; */
              /* padding-top: 10px; */
              }

              @media only screen and (max-width: 600px) {
                body {
                  /* background-color: rgb(147, 158, 43); */
                }

                #theGrid{
                    width: 90%;
                    position: relative;
                    left: 5%;
                }

                .rf-tgrid {
                   
                    font-size: 10px;
                    padding: 8px;
                    margin: auto;
                    width: 90%;
                
                  }

                  h1 {
                    text-transform: uppercase;
                    font-family: 'Poppins', sans-serif;
                    font-weight: normal;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: 100%;
                  
                    /* font-weight: lighter; */
                  /* padding-top: 10px; */
                  }

                  .listWords{
                    /* background-color: yellow; */
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    list-style-type: none;
                    gap: 15px;
    
                    margin: auto;
                    margin-top: 10px;
                    width: 100%;
                    /* align-self: center; */
                    position: relative;
                    /* width: fit-content; */
                    left: -7%;
                    place-content: center;
    
                }
    
                .listWordItem{
                    padding: 5px 8px 8px 8px;
                    background-color: white;
                    border-radius: 15px;
                    font-size: 12px;
                    height: 7px;
                    min-width: 70px;

                }
              }